#menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-menu-icon {
    font-size:2rem;
    color: red;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 3rem;
}
.layout-menu-icon:hover {
    color: rgb(16, 16, 17);
    background-color: #f5f5f5;
}
#layout-menu-content {
    width: 15%;
    height: 100%;
}
