#header-content {
    background-color: $primary-color;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0.2rem 0rem;
}
#centered-content {
    background-color: transparent;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottom-menu-container {
    background-color: transparent;
    height: 1rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;    
}
#bottom-menu-item {
    color: $black-color;
}
#bottom-menu-item:hover {
    color: $red-color;
}
#start-menu-container {
    background-color: $primary-color;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 100%;
    width: 30%;
}
#end-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: $primary-color;
    height: 100%;
    width: 20%;
}
#logo-container {
    height: 4rem;
    width: 4rem;
    background-color: transparent; 
}
#logo-container img {
    border-radius: 50%; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

