$fontFamily: 'Roboto', sans-serif;
$primeIconFontSize: 2rem;
$text-color: #81311d;
$primary-color: #df6243;
$white-color: #ffffff;
$border-color: #ebebeb;
$black-color: #000000;
$gray-color: #f5f5f5;
$red-color: #f54242;
